</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by AyDesigns</p>
  </div>
</div>
<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
     $(document).ready(function() {
        $('#addImageInput').click(function() {
            var lastImageInput = $('.image-url').last();
            lastImageInput.after('<input type="text" name="imageUrls" placeholder="Enter image URL" class="form-control image-url mt-2">');
        });
    });
</script>
</body>
</html>