</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by AyDesigns</p>
  </div>
</div>
<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</body>
</html>